.fa-search {
    /* background: lawngreen; */
    cursor: pointer;
    padding: 15px;

}

.search-bar {
    padding-left: 2.5rem;
    border-radius: 2px;
    height: 25px;
    width: auto;}
/* 
.map-div {
    padding-left: 2.5rem;
} */