.fa-search, .fa-ellipsis-v{
    cursor: pointer;
    padding: 10px;
}

.search-bar {
    padding-left: 1rem;
    border-radius: 4px;
    /* height: 25px; */
    width: auto;
    z-index: 10;
    /* position: absolute; */
    /* top: 1rem;
    left: 50%;
    transform: translateX(-50%); */
    max-width: 400px;
    }

    .search input {
      padding: 0.5rem;
      font-size: 1.5rem;
      width: 100%;
    }

.search {
    z-index: 10;
    position: absolute;
    /* top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; */
    max-width: 400px;
}

.container {
    max-width: 100px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.dd-wrapper {
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;
}

    .dd-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        padding: 0 20px;
    }

.dd-list{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

li {
    list-style: none;
}

.locate {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    position: absolute;
    right: 100px;
    top: 198px;
    float: right;
    z-index: 10;
    text-align: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* .locate {
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  } */

.search-bar input {
    padding: 0.5rem; 
    font-size: 1.5rem;
    width: 100%;
}

/* .map-div {
    padding-left: 2.5rem;
} */