.navbar-items {
    background: linear-gradient(90deg, rgb(110, 94, 254)0%, rgba(73,63,252,1));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 80px;
    position: relative;
  }
  .navbar-logo {
    color: #fff;
    cursor: pointer;
    justify-self: start;
    max-width: 80px;
    height: auto;
    position: inherit;
    top: 0;
    left: 0;
  }
 
  .nav-menu{
      display: flex;
      flex-direction: column;
      /* grid-template-columns: repeat(5, auto); */
      /* grid-gap: 50px; */
      list-style: none;
      text-align: center;
      width: 35%;
      height: 350px;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      /* justify-content: end;
      margin-right: 2rem; */
  }
  .navbar-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
  }

  .nav-menu.active {
      background: #6668f4;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      list-style: none;
  }

  .nav-links {
      color: white;
      text-decoration: none;
      padding: 2rem;
      list-style: none;
      text-align: center;
      /* width: 110%;
      margin-left: -110px; */
      display: table;
      font-size: 1.5rem;
  }

  .navbar-access{
      text-decoration: none;
      color: white;
      padding: 0.5rem 1rem;
      text-align: end;
      position: end;
  }

  .nav-links:hover, .navbar-access:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars, .fa-times {
    color: #fff;
}


.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    transform: translate(-100%, 60%);
    cursor: pointer;
}