.App {
  text-align: center;
  font-family: "Montserrat";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wlcm-msg{
  /* transition: all 3s; */
  color: white;
  -webkit-transition: color 1.5s ease-in;
  /* -moz-transition: color 1.5s ease-out; */
  /* -o-transition: color 1.5s ease-out; */
  transition: color 1.5s ease-in;
}

.wlcm-msg:hover, .wlcm-msg::after{
  color: black;
}

.about-info{
  display: grid;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: justify;
  border-color: lightblue;
  border-radius: 2rem;
}
.title-name {
  font-size: 40px;
  font-family: 'Signika', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.about-p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.usr_favorites_div{
  text-align: center;
  padding-top: 3rem;
}